%svg-common {
	background: url("svg/sprite.view.svg") no-repeat;
}

.svg-social-inst {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-social-inst-dims {
	width: 46px;
	height: 46px;
}

.svg-social-pint {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-social-pint-dims {
	width: 46px;
	height: 46px;
}

.svg-social-vk {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-social-vk-dims {
	width: 46px;
	height: 46px;
}

