body {
  margin: 0;
  padding: 0;
}


@keyframes header-bg {
  from {
  }

  to {
    filter: brightness(55%);
  }
}

@keyframes header-text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
