@font-face{
  font-family: 'Lato';
  src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
}


@keyframes header-bg {
  from {
  }

  to {
    filter: brightness(55%);
  }
}

@keyframes header-text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
