.page-header {
  min-width: $mobile-min-width;
  margin: 0 auto;
  margin-bottom: 100px;
  min-height: 480px;
  background-color: #efefef;
  background-image: url('../img/header-bg-daria-white.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 320px;
  position: relative;
  animation-name: header-bg;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;


  &__promo {
    position: absolute;
    width: 322px;
    height: 329px;
    right: 29px;
    box-sizing: border-box;
    margin-left: auto;
    padding-top: 85px;
    padding-left: 55px;
    background-image: url('../img/header-bg-border.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    overflow: hidden;
    text-align: center;
  }

  &__info {
    opacity: 0;
    animation-name: header-text;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &__title {
    @include reset-item;
    font-size: 30px;
    color: #fffeff;
    font-family: $main-font;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
  }

  &__text {
    @include reset-item;
    font-size: 14px;
    color: #ffffff;
    font-family: $main-font;
    font-weight: 300;
    text-align: left;
    margin-bottom: 40px;
  }

  &__btn {
    display: block;
    width: 131px;
    width: 22px;
    font-size: 0;
  }
}
