.page-header {
  background-color: #f8f8f8;

  &__container {
    min-width: $mobile-min-width;
    width: 320px;
    margin: 0 auto;
    margin-right: 0;
    margin-bottom: 100px;
    min-height: 480px;
    position: relative;

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      background-image: url('../img/header-bg-daria-white.png');
      background-repeat: no-repeat;
      background-position: right;
      background-size: 320px;
      animation-name: header-bg;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }

  &__promo {
    position: absolute;
    width: 322px;
    height: 329px;
    right: 29px;
    box-sizing: border-box;
    margin-left: auto;
    padding-top: 85px;
    padding-left: 55px;
    background-image: url('../img/header-bg-border.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    overflow: hidden;
    text-align: center;
  }

  &__info {
    opacity: 0;
    animation-name: header-text;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &__title {
    @include reset-item;
    font-size: 30px;
    color: #fffeff;
    font-family: $main-font;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
  }

  &__text {
    @include reset-item;
    font-size: 14px;
    color: #ffffff;
    font-family: $main-font;
    font-weight: 300;
    text-align: left;
    margin-bottom: 40px;
  }

  &__btn {
    display: block;
    width: 131px;
    height: 22px;
    font-size: 0;
  }

  &__links {
    display: none;
  }
}

@media(min-width: 431px) {
  .page-header {

    &__container {
      width: auto;
    }

  }
}


@media(min-width: $tablet-width) {
  .page-header {

    &__container {
      min-height: 825px;
      background-image: url('../img/header-bg-tablet.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 460px 0;
  
      &::before {
        width: 327px;
        height: 499px;
        top: 162px;
        left: 50%;
        background-size: 327px 499px;
        animation-name: initial;
        // box-shadow: 5px 5px 35px -10px rgba(0, 0, 0, .5);
      }
    }

    &__promo {
      background: none;
      right: initial;
      position: static;
      margin-left: initial;
      width: auto;
      padding-top: 170px;
    }

    &__title {
      color: #212021;
      font-size: 36px;
    }

    &__text {
      color: #212021;
      font-size: 16px;
    }

    &__btn {
      width: 151px;
      height: 23px;

      & img {
        height: 22px;
      }
    }

    &__links {
      display: flex;
      position: absolute;
      left: 61px;
      bottom: 81px;
      min-width: 170px;
      justify-content: space-between;
    }

    &__link {
      position: relative;
      font-family: $main-font;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px;
      color: #212021;
      font-weight: 300;

      &--inst {

        &::after {
          display: block;
          content: "";
          position: absolute;
          width: 10px;
          height: 2px;
          background-color: #212021;
          top: 6px;
          right: -15px;
        }
      }
    }

  }

}

@media(min-width: $desktop-width) {
  .page-header {
    background-position: 65vw 0;
  }
}



@media(min-width: $fullhd-width) {
  .page-header {
    background-image: url('../img/header-bg-desktop.png');
      background-position: right -18vw center;
  }

}


@media(min-width: $laptpop-width) {
  .page-header {
    background-position: right -8vw center;
    margin-bottom: 360px;

    &__promo {
      position: relative;
      height: initial;
      padding-left: 155px;

      &::before {
        content: "01";
        display: block;
        width: 38px;
        border-bottom: 2px solid black;
        padding-bottom: 11px;
        position: absolute;
        left: 60px;
        top: 40%;
        font-family: 'Lato';
        font-size: 16px;
        color: #212021;
        font-weight: 300;
        font-style: italic;
      }
    }

    &__title {
      font-size: 48px;
    }

    &__text {
      font-size: 18px;
    }

    &__link {
      font-size: 14px;
    }

    &::before {
      width: 348px;
      height: 533px;
    }

    &__links {
      min-width: 195px;
      left: 155px;
    }
  }
}
