body {
  background: white;
  background-image: url('../img/exam.jpg');
  background-repeat: no-repeat;
  color: red;
  & h1 {
    color: red;
  }

}


ul {
  color: red;
  font-size: 15px;
  background-color: white;
  font-style: italic;
}
