
// ===================================
$mobile-min-width: 320px;
$tablet-width: 768px;
$desktop-width: 1180px;
// ===================================

$mob-padding: 15px;
$main-font: "Times New Roman", Times, serif;
$font-color: #212021;

@mixin reset-item {
  margin: 0;
  padding: 0;
}




$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
